#navbar{
  height: 40px;
  margin-bottom: 0;
  border-width: 0;
  border-radius: 0;
}

#brand{
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  color: #e85d00;
}
#nav2{
  font-size: 20px;
  font-family: 'Carrois Gothic SC', sans-serif;
}

#nav3{
  transition: box-shadow .3s;
  color: #e85d00;
}
#nav3:hover{
  box-shadow: 0 0 10px rgba(3,33,33,.2);
}

.main{
  background-color: #0762eb;
}

#heading{
  text-align: center;
  font-size: 50px;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: #ff5900;
}

#f{
  font-size: 20px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
#first {
  position: absolute;
  bottom: 460px;
  right: 757px;
  font-size: 20px;
  font-family: 'Carrois Gothic SC', sans-serif;
  background-color: #cf3f1b;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
}
#second {
  position: absolute;
  bottom: 460px;
  right: 417px;
  font-size: 20px;
  font-family: 'Carrois Gothic SC', sans-serif;
  background-color: #cf3f1b;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
}

#third {
  position: absolute;
  bottom: 460px;
  right: 78px;
  font-size: 20px;
  font-family: 'Carrois Gothic SC', sans-serif;
  background-color: #cf3f1b;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
}#fourth {
  position: absolute;
  bottom: 50px;
  right: 757px;
  font-size: 20px;
  font-family: 'Carrois Gothic SC', sans-serif;
  background-color: #cf3f1b;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
}#fifth {
  position: absolute;
  bottom: 50px;
  right: 417px;
  font-size: 20px;
  font-family: 'Carrois Gothic SC', sans-serif;
  background-color: #cf3f1b;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
}#sixth {
  position: absolute;
  bottom: 50px;
  right: 78px;
  font-size: 20px;
  font-family: 'Carrois Gothic SC', sans-serif;
  background-color: #cf3f1b;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}
#usa{
  color: white;
}

#search{
  margin-top: 12px;
  padding-left: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
  border: 2px 2px 2px 2px;
  border-color: inherit;
  margin-right: 5px;
}

#sear{
  margin-top: 20px;
  margin-left: 0;
  margin-right: 20px;

}
#uk{
  color: white;
}

#img1{
  border-radius: 50px;
  margin-left: 50px;
}
